<%- include('../partials/head') %>
<!-- css for this page, no others -->
    <link rel="stylesheet" href="./assets/css/index/index.css">
    <title>Foreningen for Dyrevelfærd</title>
</head>
<body>
    <div id="wrapper">
        
        <%- include('../partials/nav') %>
        
        <%- include('../partials/header') %>
        
        <main>
            <img src="./assets/images/swipe-img4.jpg" alt="path to image" />
        </main>

        <%- include('../partials/footer') %>

    </div>

<%- include('../partials/last') %>
