<%- include('../partials/head') %>
<!-- css for this page, no others -->
    <link rel="stylesheet" href="./assets/css/index/index.css">
    <title>Foreningen for Dyrevelfærd</title>
</head>
<body>
    <div id="wrapper">

        <%- include('../partials/nav') %>
        
        <%- include('../partials/header') %>
        
        <main>
            <%- include('../partials/om-os') %>

            <%- include('../partials/bliv-frivillig') %>

            <%- include('../partials/dyr-i-nod') %>

            <%- include('../partials/nyhedsbrev') %>

            <%- include('../partials/adopter-et-dyr') %>

            <%- include('../partials/dyr-hos-os') %>
        </main>

        <%- include('../partials/footer') %>

    </div>
    <script src="./assets/js/fetch-header.js"></script>
    <script src="./assets/js/fetch-dyr-hos-os.js"></script>
    <script src="./assets/js/bliv-frivillig.js"></script>
    <script src="./assets/js/nyhedsbrev.js"></script>
    <script src="./assets/js/om-os.js"></script>
    <script src="./assets/js/dyr-i-nod.js"></script>

<%- include('../partials/last') %>
